body{ /*All kod fram till rad 112 gäller alltid, oavsett skräm storlek*/
    display: grid;
    width: 100vw;
    margin: 0;
    font-family: typewriter;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto auto auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

header{
    grid-area: header;
    margin: auto;
}

header a{
    text-decoration: none;
    color: black;
}

h2, h3{
    margin-left: 4vh;
}

img{
    width: 30px;
    margin-left: 8px;
}

nav{
    grid-area: nav;
    background-color: #c7f2ed;
}

nav>ul{
    display: grid;
    padding: 0;
    margin: auto;
}

nav li{
    height: 40%;
    margin: 15px auto;
}

nav a{
    width: 100%;
    border-radius: 20px;
    border: solid rgba(0, 0, 0, 0); /*Här använder jag mig av rgba, jag sätter alpha till 0 så får en mer "clean" border på mina nav a, om jag sätter andra värden på r, g eller b så ändrar det inget så länge a=0. Om du som läser detta inte förstår, testa att sätta a = 255.*/
    background-color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-top: 2%;
    font-size: 1.25em;
    color: black;
}

li{
    list-style-type: none;
}

main{
    grid-area: main;
    display: grid;
    grid-template-rows: auto;
}

main section p{
    margin: 3%
}

main a{
    text-decoration: none;
}

table{
    border: solid;
    margin-left: 6vh;
    border-collapse: collapse;
}

video{
    margin-left: 20px;
    width: 300px;
}

td{
    border: solid;
}

footer{
    grid-area: footer;
    background-color: #ccfcd6;
}

a:link{
    color: blue;
}

a:visited{
    color: purple;
}

a:focus{
    color: green;
}

a:active{
    color: red;
}

@font-face{ /*Här skapar jag en font och kallar den typewriter, vilket jag tyckte va ganska passande.*/
    font-family: 'typewriter';
    src: url('jmh_typewriter-webfont.woff') format('woff'),
         url('jmh_typerwriter-webfont.woff2') format('woff2');
}

@media screen and (min-width: 800px){ /*Här gör en media screen som gäller för alla skärmar som är bredare än 800px, alltså gäller denna kod för typ iPads och Datorer.*/
    body{
        grid-template-rows: 80px 100px auto 11vh;
        margin: auto;
        height:95vh;
    }

    nav>ul{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    nav a{
        height: 6vh;
    }

    nav a:hover{
        background-color: #f2f6fc;
    }

    nav li{
        margin: 15px 75px;
    }

    main{
        padding-top: 10px;
        padding-bottom: 10px;
        grid-template-columns: 1fr 4fr;
        height:660px;
        width: 98%;
        margin: 0 auto;
    }

    video{
        margin-left: 200px;
        width: 896px;
        height: 504px;
    }

    section{
        overflow: auto; /*Detta använder jag så att min footer är alltid längst ner på skärmen*/
    }

    section :nth-child(2){
        margin-right: 10vh;
    }

    main section:first-child{
        border: solid;
        border-radius: 20px;
    }

    #MusikHistoria main{
        grid-template-columns: 1fr;
    }

    #MusikHistoria section:first-child{
        border: none;
    }

    div{
        text-align:center;
        overflow: auto;
        width: 99vw;
    }

    footer p{
        margin: 10px;
        font-size: 18px;
    }

    footer p:first-child{
        font-size: 2em;
    }
}



